Repository wzc520pyfm/ant-design-x-vue, pull requests merged in 2025-03, with the labels that each got.

#122 fix(attachments): fix ref err
  src/attachments/Attachments.vue
Labels: Attachments

#100 docs(attachments): add with sender demo and update basic demo
  docs/component/attachments.md
  docs/examples/attachments/basic.vue
  docs/examples/attachments/with-sender.vue
Labels: documentation, Attachments

#154 docs: add bubble setup usage example「markdown」
  docs/examples-setup/bubble/markdown.vue
Labels: documentation

#155 docs(use-x-chat): add use-x-chat setup example
  docs/examples-setup/use-x-chat/basic.vue
  docs/examples-setup/use-x-chat/stream-cancel.vue
  docs/examples-setup/use-x-chat/stream.vue
  docs/examples-setup/use-x-chat/suggestions.vue
Labels: documentation

#156 fix(sender): fix force-render no work
  src/sender/SenderHeader.vue
Labels: Sender
