Repository wzc520pyfm/ant-design-x-vue, pull requests merged in 2025-07, with the labels that each got.

#373 feat(bubble): support slots for bubble list
  docs/component/bubble.md
  docs/examples-setup/bubble/bubble-custom-slot.vue
  docs/examples-setup/bubble/bubble-custom.vue
  docs/examples/bubble/bubble-custom-slot.vue
  docs/examples/bubble/bubble-custom.vue
  src/bubble/Bubble.vue
  src/bubble/BubbleList.vue
  src/bubble/interface.ts
Labels: enhancement, BubbleList

#394 feat: update useXChat & XRequest & fix useXAgent's RequestFn onSuccess type
  docs/component/use-x-agent.md
  docs/component/use-x-chat.md
  docs/component/x-request.md
  docs/examples-setup/playground/independent.vue
  docs/examples-setup/use-x-agent/custom.vue
  docs/examples-setup/use-x-agent/preset.vue
  docs/examples-setup/use-x-chat/basic.vue
  docs/examples-setup/use-x-chat/stream.vue
  docs/examples-setup/use-x-chat/suggestions.vue
  docs/examples/playground/independent.vue
  docs/examples/use-x-agent/custom.vue
  docs/examples/use-x-agent/preset.vue
  docs/examples/use-x-chat/basic.vue
  docs/examples/use-x-chat/model.vue
  docs/examples/use-x-chat/stream.vue
  docs/examples/use-x-chat/suggestions.vue
  src/use-x-agent/use-x-agent.ts
  src/use-x-chat/index.ts
  src/use-x-chat/use-x-chat.ts
Labels: 1.3

#381 feat(attachments): add custom icon options for FileCard
  docs/component/attachments.md
  docs/examples-setup/attachments/files-custom.vue
  docs/examples/attachments/files-custom.vue
  pnpm-lock.yaml
  src/attachments/FileList/FileListCard.vue
  src/attachments/interface.ts
Labels: Attachments, 1.3

#395 feat(use-x-agent): support dynamic option configuration
  docs/component/use-x-agent.md
  docs/examples-setup/use-x-agent/request-options.vue
  docs/examples/use-x-agent/request-options.vue
  src/use-x-agent/use-x-agent.ts
Labels: 1.3
